---
project_name: "hugo-portfolio"
domain_name: "test-hugosetup-ansible.ch"

aws_region: "us-east-1"
acm_region: "us-east-1"
common_tags:
  Project: "HugoPortfolioHosting"
  ManagedBy: "ansible"

s3_enabled: true
bucket_subdomain: "www"
s3_bucket_name: "{{ bucket_subdomain }}.{{ domain_name }}"
s3_apply_tags: true
s3_website_index: "index.html"
s3_website_error: "404.html"
s3_force_destroy: false

acm_enabled: true
acm_domain_name: "{{ domain_name }}"
acm_subject_alternative_names:
  - "*.{{ domain_name }}"
acm_validation_method: "DNS"

route53_enabled: true
route53_zone_name: "{{ domain_name }}"
route53_comment: "Managed by Ansible"
route53_private_zone: false
route53_vpc_id: ""
route53_vpc_region: "us-east-1"

cloudfront_enabled: true
cloudfront_caller_reference: "hugo-portfolio-cf"
cloudfront_comment: "Hugo portfolio distribution"
cloudfront_default_root_object: "index.html"
cloudfront_price_class: "PriceClass_100"
cloudfront_aliases:
  - "{{ domain_name }}"
  - "{{ s3_bucket_name }}"
cloudfront_hosted_zone_id: "Z2FDTNDATAQYW2"
cloudfront_origin_id: "hugo-portfolio-origin"
cloudfront_origin_domain_name: "{{ s3_bucket_name }}.s3.{{ aws_region }}.amazonaws.com"
cloudfront_certificate_arn: ""

cloudfront_origins:
  - id: "{{ cloudfront_origin_id }}"
    domain_name: "{{ cloudfront_origin_domain_name }}"
    s3_origin_access_identity_enabled: true

cloudfront_default_cache_behavior:
  target_origin_id: "{{ cloudfront_origin_id }}"
  viewer_protocol_policy: "redirect-to-https"
  allowed_methods:
    items: ["GET", "HEAD"]
    cached_methods: ["GET", "HEAD"]
  forwarded_values:
    query_string: false
    cookies:
      forward: "none"

cloudfront_viewer_certificate:
  acm_certificate_arn: "{{ acm_certificate_arn }}"
  ssl_support_method: "sni-only"
  minimum_protocol_version: "TLSv1.2_2021"

iam_enabled: false
iam_role_name: "CHANGE_ME"
iam_role_description: "Role managed by Ansible"
iam_role_assume_policy: |
  {
    "Version": "2012-10-17",
    "Statement": [
      {
        "Effect": "Allow",
        "Principal": { "Service": "ec2.amazonaws.com" },
        "Action": "sts:AssumeRole"
      }
    ]
  }
iam_role_managed_policies: []
iam_role_inline_policies: {}
