---
- name: Create Route 53 hosted zone
  amazon.aws.route53_zone:
    zone: "{{ route53_zone_name }}"
    comment: "{{ route53_comment }}"
    state: "{{ route53_state | default('present') }}"
    vpc_id: "{{ route53_vpc_id if route53_private_zone else omit }}"
    vpc_region: "{{ route53_vpc_region if route53_private_zone else omit }}"
    tags: "{{ common_tags }}"
  register: route53_zone_result
  when: route53_enabled

- name: Store Route 53 hosted zone id
  ansible.builtin.set_fact:
    route53_zone_id: "{{ route53_zone_result.zone_id }}"
  when:
    - route53_enabled
    - route53_zone_result.zone_id is defined
