---
- name: Create IAM role
  community.aws.iam_role:
    name: "{{ iam_role_name }}"
    description: "{{ iam_role_description }}"
    assume_role_policy_document: "{{ iam_role_assume_policy }}"
    managed_policies: "{{ iam_role_managed_policies }}"
    policies: "{{ iam_role_inline_policies }}"
    state: "{{ iam_state | default('present') }}"
    tags: "{{ common_tags }}"
  when: iam_enabled
